.contact-section {
  background: #F1FAEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: 768px) {
  .contact-section {
    flex-direction: row;
  }
}