@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3 {
  font-family: 'Playfair Display', sans-serif;
}

p,
span,
small {
  font-family: 'Poppins', sans-serif;
}

.scroll-element {
  opacity: 0;
  transform: translateY(30px);
  /* Start with an offset */
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.scroll-element.visible {
  opacity: 1;
  transform: translateY(0);
  /* Reset position for fade-in animation */
}

.scroll-element.scrolling-up {
  opacity: 0;
  transform: translateY(30px);
  /* Reverse animation for fade-out */
}